<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Jabatan</title>    
</head>

<body>
    <h1>Hello</h1>
    
    <h3>Tambah Jabatan</h3>
    <form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
        Nama: <br>
        <input type="text" name="nama" />
        <br>
        Deskripsi: <br>
        <input type="text" name="deskripsi" />
        <br>
        GajiPokok: <br>
        <input type="number" name="gajiPokok" />
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>