<!DOCTYPE html>
<html>
<head>

    <title>Cari Pegawai</title>
    <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
    <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
    <link rel="stylesheet" th:href="@{/DataTables/datatables.css}" />
    <script th:src="@{/DataTables/datatables.js}"></script>

</head>
<body>
    <nav th:replace="fragments/fragment :: navbar(content='Home')"></nav>
    <div class="container"><br>

        <h3>Cari Pegawai</h3>
        <form th:action="@{/pegawai/cari( idProvinsi=${idProvinsi}, idInstansi=${idInstansi}, idJabatan=${idJabatan} )}" method=GET>
            <div class="form-group row">
            <label class="col-sm-4 col-form-label">Provinsi</label>
                <div class="col-sm-8">
                    <select type="text" name="idProvinsi" id="provinsi" class="custom-select custom-select-sm-2">
                        <option value="" disabled selected>pilih provinsi</option>
                        <option th:each="provinsi: ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row"> 
            <label class="col-sm-4 col-form-label">Instansi</label> 
                <div class="col-sm-8">
                    <select type="text" name="idInstansi" id="instansi" class="custom-select custom-select-sm-2">
                        <option value="" disabled selected>pilih instansi</option>
                        <option th:each="instansi: ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.provinsi.nama} + ' - ' + ${instansi.nama}" th:prov="${instansi.provinsi.id}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Jabatan</label>   
                    <div class="col-sm-8">          
                        <select type="text" name="idJabatan" class="custom-select custom-select-sm-2">
                            <option value="" disabled selected>pilih jabatan</option>
                            <option th:each="jabatan: ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
                        </select>
                    </div>
            </div>
            <br> 
            <div class="row">
                <div class="col-8"></div>
                <div class="col-sm-4" align="right">
                    <button class="col-sm-5 btn btn-primary" type="submit" id="cari">Cari</button>
                </div>


            </div> 
            <br><br><br>    
        </form>

        <h3>Data Pegawai</h3><br>
        <table id="table_id" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Tempat Lahir</th>
                    <th>Tanggal Lahir</th>
                    <th>Tahun Masuk</th>
                    <th>Nama Instansi</th>
                    <th>Jabatan</th>


                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${pegawai}">
                    <td th:text="${p.nip}"></td>
                    <td th:text="${p.nama}"></td>
                    <td th:text="${p.tempatLahir}"></td>
                    <td th:text="${p.tanggalLahir}"></td>
                    <td th:text="${p.tahunMasuk}"></td>
                    <td th:text="${p.instansi.nama}"></td>
                    <td>
                        <p th:each="jp: ${p.jabatanPegawai}" th:text="${jp.jabatan.nama}"></p>
                    </td>
                </tr>
            </tbody>
        </table>  





    </div>
    
</body>
</html>

<script>
    $(document).ready(function () {

        $('#table_id').DataTable(); 
    });

    $('#provinsi').on('click',function() {
        $('#instansi').children('option').each(function(){
            if($(this).attr('prov') !== $('#provinsi').val() ) $(this).css('display', 'none')
            else $(this).css('display', 'initial')
        }) 
    })

    $('#provinsi').trigger('click')
</script>
