<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Edit Pegawai</title>
        <Object th:include="fragments/fragment :: css" th:remove="tag"></Object>
        <Object th:include="fragments/fragment :: js" th:remove="tag"></Object>  
        <link rel="stylesheet" th:href="@{/DataTables/datatables.css}" />
        <script th:src="@{/DataTables/datatables.js}"></script>
    </head>

    <body class="container">
        <h3>Edit Pegawai</h3>
        <form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST" id="form-pegawai" class="form-group row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <input th:value="*{nama}" type="text" name="nama" class="form-control form-control-sm col-sm-10"/> <br>
            
            <label for="tempatLahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
            <input th:value="*{tempatLahir}" type="text" name="tempatLahir" class="form-control form-control-sm col-sm-10"/> <br>
            

            <label for="tanggalLahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <input th:value="*{tanggalLahir}" type="date" name="tanggalLahir" class="form-control form-control-sm col-sm-10"/> <br>
            
            <label for="tahunMasuk" class="col-sm-2 col-form-label">Tahun Masuk</label>
            <input th:value="*{tahunMasuk}" type="number" name="tahunMasuk" class="form-control form-control-sm col-sm-10"/> <br>
            
            <label for="provinsi" class="col-sm-2 col-form-label">Provinsi</label>
            <select type="text" name="provinsi" id="provinsi" class="form-control form-control-sm col-sm-10">
                <option th:each="prov: ${listProvinsi}" th:value="${prov.id}" th:text="${prov.nama}" th:selected="(${prov.id} == *{instansi.provinsi.id})"></option>
            </select> <br>
            
            <label for="instansi" class="col-sm-2 col-form-label">Instansi</label>
            <select type="text" name="instansi" id="instansi" class="form-control form-control-sm col-sm-10" th:selected="*{instansi}">
                <option th:each="inst: ${listInstansi}" th:value="${inst.id}" th:provinsi="${inst.provinsi.id}" th:text="${inst.nama}"></option>
            </select> <br>

            <label for="jabatan" class="col-sm-2">Jabatan</label>
            <div class="col-sm-10">
                <select th:each="jabatan, jabatanStat : *{jabatanPegawai}" type="text" th:field="*{jabatanPegawai[__${jabatanStat.index}__].jabatan}" class="form-control form-control-sm" th:selected="*{jabatanPegawai[__${jabatanStat.index}__].jabatan}">
                    <option th:each="jab: ${listJabatan}" th:value="${jab.id}" th:text="${jab.nama}"></option>
                </select> <br>
            </div>
            
            <input type="hidden" name="id" th:value="${pegawai.id}" />

            <button type="submit" name="add-row" class="btn btn-secondary">tambah jabatan</button>
            <br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>