<!DOCTYPE html>
<html xmlns:th="http:/wwww.thymeleaf.org"> 
<head>

    <title>Detail Jabatan</title>
    <Object th:include="fragments/navbarDetail :: css" th:remove="tag"></Object>
<Object th:include="fragments/navbarDetail :: js" th:remove="tag"></Object>  
    
</head>
<body th:object="${jabatan}">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container">
        <h3 th:text=" 'Detail jabatan '+ *{nama}"></h3>
        <table class="table" >
            <tr>
                <td>Nama:</td>
                <td th:text="*{nama}"></td>
            </tr>
            <tr>
                <td>Deskripsi:</td>
                <td th:text="*{deskripsi}"></td>
            </tr>
            <tr>
                <td>Gaji pokok:</td>
                <td th:text="*{gajiPokok}"></td>
            </tr>
        </table>

        <br>

        <form th:action="@{/jabatan/hapus}" method=POST>
            <input type="hidden"th:field="*{id}">
            <button type="submit" class="btn btn-danger col-sm-3 float-right">DELETE</button>
        </form>
        <a th:href="@{/jabatan/ubah(idJabatan=*{id})}"><button type="submit" class="btn btn-primary col-sm-3 float-right mr-2" method=GET>UPDATE</button></a>

        <br><br>
        
    </div>

</body>
</html>